<article id="sobremi" class="sobre_mi">
    <img src="../../../../../assets/images/fotorecortada.png" alt="foto">
    <div class="conteiner-card" >
        <div class="card">
            <h2>Sobre mí</h2>
            <p>Tecnólogo en análisis y diseño de sistemas de información, me gustaría mejorar y adquirir mayores competencias en diseño y desarrollo de aplicaciones. Soy apasionado por el mundo de la tecnología, por eso decidí darle una vuelta a mi vida encaminándome en este maravilloso mundo del desarrollo. Tengo excelentes relaciones interpersonales, trabajo en equipo, liderazgo, honestidad, responsabilidad y toma de decisiones acorde a la autonomía del cargo con alto sentido de pertenencia, responsabilidad y compromiso.  </p>
        </div>
        <div class="card hobbis">
            <h2>Hobbis</h2>
            <span>
                <ul>
                    <li>Me gusta salir al cine, comer hamburgesas, helados con mi hijo.</li>
                    <li>Me gusta ver fútbol.</li>
                    <li>Me gusta salir a caminar.</li>
                    <li>Me gustan las peliculas de comedia.</li>
                    <li>Me gusta escuchar música.</li>
                    
                </ul>
            </span>
            
        </div>
    </div>
</article>
