<nav class="principal-menu" id="principal-menu">

    <div class="navimage">
        <img src="../../../../../assets/images/logo.svg" alt="darioico">
    </div>

    <div class="link">
        <ul>
            <li><a href="#sobremi">Sobre mí</a></li> 
            <li><a href="#tecnologias">Tecnologías</a></li> 
            <li><a href="#contactame">Contacto</a></li> 
            @if (project) {
                <li><a href="#projectos">Proyectos</a></li> 
            }
        </ul>
    </div>

    
</nav>
