<footer>
    <div class="footer">
    <div class="redes">
        <a href="../../../../../assets/documents/Curriculum Dariolk.pdf" target="_blank"><span class="fa-solid fa-file-pdf"></span></a>
        <a href="https://www.facebook.com/profile.php?id=100091656397365&mibextid=ZbWKwL"><span class="fab fa-facebook-f"></span></a>
        <a href="https://www.linkedin.com/in/dario-gutierrez-novoa"><span class="fab fa-linkedin"></span></a>
        <a href="https://github.com/Darioyes/Darioyes.github.io"><span class="fab fa-github"></span></a>
        <!-- <a href=""><span class="fab fa-twitter"></span></a> -->
    </div>
    </div>
    <div class="madein">
        Desarrollado y diseñado por Dario Gutierrez Novoa
    </div>
</footer>
