<section id="contactame">
        
    <h3 class="h3contac">Contactame</h3>
    <div class="contac">
        <div class="img">
        </div>
        <div class="form">
            <form action="">
                <div class="input">
                    <input type="email" name="email" required>
                    <label >Email</label>
                </div>
                <div class="input">
                    <input type="text" name="nombre" required>
                    <label >Nombre</label>
                </div>
                <div class="input">
                    <textarea  name="contenido" id="contenido" required></textarea>
                    <label class="textarea" >Escribe tú mensaje...</label>
                </div>
                <div class="input btn">
                    <input  type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</section>
