<section id="tecnologias">
    <h3 class="titletec">Tecnologías</h3>
    <div class="tecnology">
        <img src="../../../../../assets/images/img2.png" alt="html">
        <img src="../../../../../assets/images/img3.png" alt="css">
        <img src="../../../../../assets/images/sql.png" alt="sql">
        <img src="../../../../../assets/images/PHP-logo.svg.png" alt="php">
        <img src="../../../../../assets/images/img4.png" alt="laravel">
        <img src="../../../../../assets/images/symfony.png" alt="symfony">
    </div>
</section>
